
* {box-sizing: border-box;}
h1 {
  color: blue;
}

form {
  display: inline;
}

body {
  padding: 3%;
}

.detail_image img {
  float: right;
}

.search-container {
  float: right;
}

input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}
@media screen and (max-width: 600px) {
  .search-container {
    float: none;
  }

input[type="text"],
.search-container button {
  float: none;
  display: block;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 14px;
}

input[type=text] {
  border: 1px solid #ccc;  
}