{% extends "base.html" %}

{% block body %}
<div class='row'>
    <div class="col detail_info">
        <h1>{{Tasca}}</h1>
        <h2>Rating: {{Tasca.rating}}</h2>
        <h4>{{Tasca.address}}</h4>
    </div>
    {% if Tasca.image %}
    <div class='col detail_image'>
        <img src='{{Tasca.image.url}}' width="500"/>
    </div>
    {% endif %}
    <div id='map' style='width: 400px; height: 300px;'></div>
</div>
<div class='row'>

<form action={% url 'tascas' %}>
    <button type="submit" class="btn btn-primary">Back</button>
</form>
<span style="display:inline-block; width: 0.5em;"></span>
<form action={% url 'editTasca' tasca_pk=Tasca.pk %}>
    <button type="submit" class="btn btn-primary">Edit</button>
</form>
<span style="display:inline-block; width: 0.5em;"></span>
<form action={% url 'deleteTasca' tasca_pk=Tasca.pk %}>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
</div>
{% endblock body %}

{% block script%}
<script>
      mapboxgl.accessToken = 'pk.eyJ1IjoiZXJiYXJiYXIiLCJhIjoiY2tiZjZmaGp5MHNqbzM1cG11dmJhdHdoZiJ9.T2xM1b9odHpnZe-8j2OneA';
      let coordinates = new mapboxgl.LngLat({{Tasca.longitude}},{{Tasca.latitude}});
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: coordinates,
        zoom: 15
      });
      map.addControl(new mapboxgl.NavigationControl());
      let marker =  new mapboxgl.Marker().setLngLat(coordinates).addTo(map);
</script>
{% endblock script%}