{% extends "base.html" %}
{% load filters %}
{% block body %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in Form %}
    <div class="fieldWrapper form-group">
        {{ field.errors }}
        {{ field.label_tag }}
        {% if field.help_text %}
            {{ field.help_text|safe }}
        {% endif %}
        <br>
        {{ field|addclass:"form-control" }}
    </div>
        <br>
    {% endfor %}
    {% if form.subject.errors %}
    <ol>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}
<p>Click map to set latitude and longitude:</p>
<div id='map' style='width: 70vw; height: 30vh;'></div>
<br>
    <button type="submit" class="btn btn-primary" value="Submit">Confirm</button>

</form>    <button class="btn btn-danger" 
        onClick="window.location.href='{% url 'tascas' %}'">Cancel</button>
{% endblock body %}


{% block script%}
<script>
      mapboxgl.accessToken = 'pk.eyJ1IjoiZXJiYXJiYXIiLCJhIjoiY2tiZjZmaGp5MHNqbzM1cG11dmJhdHdoZiJ9.T2xM1b9odHpnZe-8j2OneA';
      let marker =  new mapboxgl.Marker();
      {% if Tasca.latitude %}
        let coordinates = new mapboxgl.LngLat({{Tasca.longitude}},{{Tasca.latitude}});
        console.log(coordinates);
        marker.setLngLat(coordinates);
      {% endif %}
      var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [-8.42, 40.21],
      zoom: 13
      });
      map.addControl(new mapboxgl.NavigationControl());
      map.on('click', function(e) {
        let latitude= e.lngLat.lat;
        let longitude= e.lngLat.lng;
        document.getElementById('id_latitude').value = latitude;
        document.getElementById('id_longitude').value = longitude;
        marker.setLngLat([longitude, latitude]).addTo(map);
      });
    {% if Tasca.latitude %}
        marker.addTo(map);
    {% endif %}
</script>
{% endblock script%}