{% extends "base.html" %} 

{% block body %}
<h1>Tascas</h1>
<div class="search-container">
    <form action="/search">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
<div class="table-responsive">
<table class="table table-striped table-bordered">
    <caption>
        <form action={% url 'tascas' %}>
            <button type="submit" class="btn btn-primary">Get All Tascas</button>
        </form>
        <form action={% url 'addTasca' %}>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </caption>
    <thead>
        <tr>
            <th scope="col">PK</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Rating</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for tasca in Tascas %}
        <tr>
            <th scope="row">{{tasca.pk}}</th>
            <td>{{tasca.name}}</td>
            <td>{{tasca.address}}</td>
            <td>{{tasca.rating}}</td>
            <td>
                <form action={% url 'detailTasca' tasca_pk=tasca.pk %}>
                    <button type="submit" class="btn btn-primary">See</button>
                </form>
                <form action={% url 'editTasca' tasca_pk=tasca.pk %}>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
                <form action={% url 'deleteTasca' tasca_pk=tasca.pk %}>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    {% empty %}
        <p>Ainda não há tascas :(</p>
    {% endfor %}
    </tbody>
</table>
<div id='map' style='width: 80vw; height: 40vh;'></div>
</div>
{% endblock %}

{% block script%}
<script>
      mapboxgl.accessToken = 'pk.eyJ1IjoiZXJiYXJiYXIiLCJhIjoiY2tiZjZmaGp5MHNqbzM1cG11dmJhdHdoZiJ9.T2xM1b9odHpnZe-8j2OneA';
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-8.42, 40.21],
        zoom: 13
      });
      map.addControl(new mapboxgl.NavigationControl());
      let markers = [];
      {% for tasca in Tascas %}
        {% if tasca.latitude %}
        markers.push(new mapboxgl.Marker().setLngLat([{{tasca.longitude}},{{tasca.latitude}}]).addTo(map));
        {% endif %}
      {% endfor %}
</script>
{% endblock script%}